<div class="modal" [class.modal-open]="modalOpen">
  <div class="modal-inner">
    <div class="modal-content">
      <div class="modal-content-inner">
        <div class="modal-title">Crear la tarea</div>

        <div class="modal-field">
          <label for="task-title">Título de la tarea:</label>
          <input type="text" id="task-title" placeholder="Título de la tarea" />
        </div>
        <div class="modal-field">
          <label for="task-completed"> Tarea completada:</label>
          <select name="task-completed" id="">
            <option value="true">Si</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <hr class="modal-buttons-seperator" />
      <div class="modal-buttons">
        <div class="button close-modal" (click)="closeModal()">Cancelar</div>
        <div class="button button-primary" (click)="saveTask()">Guardar</div>
      </div>
    </div>
  </div>
</div>
