<div class="task-list-component">
  <div class="grid-title">
    <p>Task List</p>
  </div>
  <div class="tasks-container">
    <app-task-list-item-header></app-task-list-item-header>
    <app-task-list-item></app-task-list-item>
    <app-task-list-item></app-task-list-item>
    <app-task-list-item></app-task-list-item>
    <app-task-list-item></app-task-list-item>
    <app-task-list-item></app-task-list-item>
    <app-task-list-item></app-task-list-item>
    <app-task-list-item></app-task-list-item>
    <app-task-list-item></app-task-list-item>
    <app-task-list-item></app-task-list-item>
    <app-task-list-item></app-task-list-item>
  </div>
</div>
